# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
gradlew
gradlew.bat
CREDITS.txt
LICENSE
LICENSE.txt
README.txt

# Files from Forge MDK
forge*changelog.txt

